div.topbar {
	background-color: #001489;
	color: white;
	
}

.top {
	display: inline-block;
	vertical-align: top;
	padding-left: 2.5vw;
	padding-top: 1vw;
	padding-bottom: 3vw;
	font-size: 2vw;
}


.photo {
	display: inline-block;
	vertical-align: top;
	width: 12vw;
	height: 10vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

#mainphoto {
	display: block;
	width: 50vw;
	height: 10vw;
	padding-top: 3vw;
	padding-left: 5vw;
	padding-bottom: 3vw;

}