body {
	background-color: #ED9F57;
}
#pl{
	
	width: 15vw;
	font-size: 2vw
}

#a1, #a2, #a3, #a4, #a5, #a6, #7, #8, #9, #10 {
	display: inline;
	width: 10vw;
}





.buttons {
	display: block;
	vertical-align: 10vw;
}

#name {
	display: inline-block;
	width: 90vw;
	border: 2px solid black;
	padding: 100px;
	margin-bottom: 1vw;
	text-align: center;
	font-size: 4vw;
	border-color: #A5762A;
	color: #7C4A0F;
}
	
	
#LK {
	display: inline-block;
	width: 8px;
	margin-bottom: 1px;
	margin-top: 10px;
	text-align: center;
	font-size: 2vw;
	vertical-align: top;
	border-color: #A5762A;
	color: #7C4A0F;
}
	
#LK2 {
	display: inline-block;
	width: 20vw;
	padding: 2px;
	margin: 10px;
	text-align: left;
	font-size: 2vw;
	border-color: #A5762A;
	color: #7C4A0F;
}
#LK3 {
	display: inline-block;
	width: 20vw;
	padding: 2px;
	margin: 10px;
	text-align: left;
	font-size: 2vw;
	border-color: #A5762A;
	color: #7C4A0F;
}



div.list {
	display: inline-block;
	width: 14vw;
	border: 2px solid black;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5vw;
	vertical-align: top;
	border-color: #A5762A;
	color: #7C4A0F;
}

div.list2 {
	display: inline-block;
	width: 15vw;
	border: 2px solid black;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5vw;
	vertical-align: top;
	border-color: #A5762A;
	color: #7C4A0F;
}


.question {
	display: inline-grid;
}
	

#about {
	display: inline-block;
	width: 40vw;
	padding: 10px;
	margin: 10px;
	text-align: left;
	font-size: 2vw;
	border-color: #A5762A;
	color: #7C4A0F;
}

div.pastxt {
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
	width: 20vw;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1vw;
		border-color: #A5762A;
	color: #7C4A0F;
}

.A {
	display: inline-block;
	width: 8vw;
	padding: .5vw;
	margin: 10px;
	font-size: 1vw;
}

.stu {
	border: 2px solid black;
	width: 11vw;
	padding: 2vw;
	border-color: #A5762A;
	color: #7C4A0F;
	
}

a {
	color: #5B5B5B;
}

.photo {
	display: inline-block;
	border: 2px solid black; 
	width: 60vw;
	padding: 2vw;
	border-color: #A5762A;
	color: #7C4A0F;
}




.button {
	display: inline-block;
	bottom-margin: 5px;
	border: 2px solid #A5620D;
	vertical-align: 10vw;
	text-align: justify;
	font-size: 1vw;
}




.web {
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
	width: 20vw;
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #A5762A;
	color: #7C4A0F;
}


.listpic {
	display: inline-block;
	width: 30vw;
	border: 2px solid black;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 70px;
	text-align: justify;
	border-color: #A5762A;
	color: #7C4A0F;
}

.resisepic {
	font-size: 1vw;
}





.vac {
	border: 2px solid black;
	width: 25vw;
	padding: 4vw;
		border-color: #A5762A;
	color: #7C4A0F;
}

.brief {
	font-size: 2vw;
}


#A {
	display: inline-block;
	width: 100px;
}
#B {
	display: inline-block;
	width: 100px;
}
#C {
	display: inline-block;
	width: 100px;
}
#D {
	display: inline-block;
	width: 150px;
}
#E {
	display: inline-block;
	width: 100px;
}



#A1 {
	display: inline-block;
	width: 100px;
}
#B1 {
	display: inline-block;
	width: 100px;
}
#C1 {
	display: inline-block;
	width: 100px;
}
#D1 {
	display: inline-block;
	width: 100px;
}
#E1 {
	display: inline-block;
	width: 100px;
}


#A2 {
	display: inline-block;
	width: 100px;
}
#B2 {
	display: inline-block;
	width: 100px;
}
#C2 {
	display: inline-block;
	width: 100px;
}
#D2 {
	display: inline-block;
	width: 100px;
}
#E2 {
	display: inline-block;
	width: 100px;
}


#A3 {
	display: inline-block;
	width: 100px;
}
#B3 {
	display: inline-block;
	width: 100px;
}
#C3 {
	display: inline-block;
	width: 100px;
}
#D3 {
	display: inline-block;
	width: 100px;
}
#E3 {
	display: inline-block;
	width: 100px;
}



#A4 {
	display: inline-block;
	width: 100px;
}
#B4 {
	display: inline-block;
	width: 100px;
}
#C4 {
	display: inline-block;
	width: 100px;
}
#D4 {
	display: inline-block;
	width: 100px;
}
#E4 {
	display: inline-block;
	width: 100px;
}


#A5 {
	display: inline-block;
	width: 100px;
}
#B5 {
	display: inline-block;
	width: 100px;
}
#C5 {
	display: inline-block;
	width: 100px;
}
#D5 {
	display: inline-block;
	width: 100px;
}
#E5 {
	display: inline-block;
	width: 100px;
}


.class1 {
	background-color: #FFBE00;
	color: #C2550E;
}

.class2 {
	background-color: #FF8900;
	color: #824016;
}
.class3 {
	background-color: #B05A5A;
	color: #3B3834;
}
.class4 {
	background-color: #C75023;
	color: #2A251E;
}
.class5 {
	background-color: grey;
	color: #5C4931;
}


#minus, #total, #plus {
	display: inline-block;
	font-size: 80px;
	margin: 15px;
}

#10, #minus10, #times10, #divide10, #plus100 {
	display: inline-block;
	font-size: 80px;
	margin: 15px;
}

#photos {
	display: block;
	width: 30vw;
	

}