#logo {
	display: block;
	width: 8vw;
	height: 8vw;
}

#wikitop {
	padding-top: 2vw;
}
div.div1 {
	display: block;
	width: 10vw;
	vertical-align: top;
}
.wikitop {
	display: block;
}

.sidebar {
	display: inline-block;
	height: .5vw;
}
.main {
	display: inline;
	width: 85vw;
}
.topbar {
		display: inline;
		margin-top: 5vw;
		margin-bottom: -1vw;
		border-left: 1px solid black;
		border-right: 1px solid black;
	
}
#stname {
		display: block;
		margin-bottom: .5vw;
		border-bottom: 1px solid black;
		font-size: 2vw;
}
.geo {
	font-size: 20px;
		display: block;
		margin-bottom: .5vw;
		border-bottom: 1px solid black;
		font-size: 2vw;
}
.inline {
	display: inline;
}
div.ct {
	display: block;
	width: 15vw;
	border: .5px solid black;
	padding: 2px;
}
.b {
	display: block;
	width: 80vw;
	padding: 2px;
	margin: 10px;
	text-align: left;
	font-size: 1.5vw;
	border-color: #A5762A;
}

#a {
	display: inline-block;
	width: 18vw;
}
#extraline {
	display: inline-block;
	padding-left: 45vw;
}
#space {
	display: 1vw;
	padding-bottom: 2vw;
}
#space2 {
	display: 1vw;
	padding-bottom: 2vw;
}
#space3 {
	display: 1vw;
	padding-bottom: 2vw;
}
#space4 {
	display: 1vw;
	padding-bottom: 2vw;
}
#space5 {
	display: 1vw;
	padding-bottom: 2vw;
}
.space6 {
	display: block;
	padding-bottom: 2vw;
}